/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.map-container {
	height: 100vh;
}
.marker-infowindow { padding: 5px 10px;
	.title { font-weight: bold; line-height: 24px; font-size: 18px; margin-bottom: 10px; }
	.address { margin-bottom: 10px;
		p,
		address { font-weight: normal; line-height: 20px; font-size: 14px; margin: 0;
			&:not(:last-of-type) { margin-bottom: 5px; }
		}
	}
	.link {
		a { font-weight: normal; line-height: 20px; font-size: 14px; margin: 0; color: #000000;
			&:hover {
				color: #0A6DB1;
			}
		}
	}
}
